.slikax,
body .wrapper .sadrzaj .galerija .gslika1 a .malaslika,
body .wrapper .sadrzaj .galerija .gslika2 a .malaslika,
body .wrapper .sadrzaj .galerija .gslika3 a .malaslika {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-image: url("wow1.jpg");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body .wrapper {
  height: 100vh;
  width: 50%;
  margin: auto;
  border-radius: 15px;
}
body .wrapper .header {
  background-color: #3287af;
  border-radius: 10px;
}
body .wrapper .header .logo {
  width: 280px;
  height: 100px;
  margin-left: 160px;
  margin-top: 10px;
}
body .wrapper .header .alliance {
  width: 130px;
  height: 140px;
  float: left;
  margin-left: 50px;
  margin-top: 20px;
}
body .wrapper .header .horde {
  width: 130px;
  height: 140px;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}
body .wrapper .header .moto {
  color: black;
  margin-left: 250px;
  margin-top: 0px;
}
body .wrapper .header .nav {
  margin-left: 260px;
}
body .wrapper .header .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body .wrapper .header .nav ul li {
  float: left;
}
body .wrapper .header .nav ul li a {
  display: block;
  text-align: center;
  color: #2c3e50;
  padding-right: 50px;
  padding-bottom: 15px;
  text-decoration: none;
  font-size: 25px;
  margin-top: -7px;
}
body .wrapper .header .nav ul li a:hover {
  color: white;
}
body .wrapper .sadrzaj {
  height: 86%;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}
body .wrapper .sadrzaj .levi {
  width: 28%;
  height: 100%;
  border-right: 2px solid black;
  display: inline-block;
  float: left;
  background-color: #9aaebb;
}
body .wrapper .sadrzaj .levi .vest {
  padding-top: 5px;
  padding-left: 10px;
}
body .wrapper .sadrzaj .levi .vest .vestslika {
  width: 230px;
  height: 130px;
  margin-top: -30px;
  border: 2px solid black;
}
body .wrapper .sadrzaj .centar {
  width: 45.5%;
  height: 100%;
  background-color: #70bce7;
  display: inline-block;
  border-right: 2px solid black;
}
body .wrapper .sadrzaj .centar .naslovcentar {
  margin-left: 28px;
  margin-top: 10px;
}
body .wrapper .sadrzaj .centar .row1 {
  margin-top: 30px;
}
body .wrapper .sadrzaj .centar .row1 .proizvod1 {
  margin-left: 30px;
  display: inline-block;
}
body .wrapper .sadrzaj .centar .row1 .proizvod1 .slikaproizvod {
  width: 140px;
  height: 120px;
}
body .wrapper .sadrzaj .centar .row1 .proizvod1 .nazivigre {
  margin-top: 0px;
  margin-bottom: 0px;
}
body .wrapper .sadrzaj .centar .row1 .proizvod1 .broj {
  width: 30px;
}
body .wrapper .sadrzaj .centar .row1 .proizvod1 .cena {
  display: inline-block;
  margin: 0;
}
body .wrapper .sadrzaj .centar .row1 .proizvod2 {
  margin-left: 50px;
  display: inline-block;
}
body .wrapper .sadrzaj .centar .row1 .proizvod2 .slikaproizvod {
  width: 140px;
  height: 120px;
}
body .wrapper .sadrzaj .centar .row1 .proizvod2 .nazivigre {
  margin-top: 0px;
  margin-bottom: 0px;
}
body .wrapper .sadrzaj .centar .row1 .proizvod2 .broj {
  width: 30px;
}
body .wrapper .sadrzaj .centar .row1 .proizvod2 .cena {
  display: inline-block;
  margin: 0;
}
body .wrapper .sadrzaj .desni {
  width: 25%;
  height: 100%;
  margin-right: 10px;
  float: right;
  display: inline-block;
  background-color: #9aaebb;
}
body .wrapper .sadrzaj .desni .fieldset {
  color: black;
  border-color: black;
  font-size: 15px;
  margin-left: 10px;
  height: 320px;
  margin-top: 10px;
}
body .wrapper .sadrzaj .desni .fieldset #username {
  margin-bottom: 10px;
}
body .wrapper .sadrzaj .desni .fieldset #password {
  margin-bottom: 10px;
}
body .wrapper .sadrzaj .desni .fieldset #email {
  margin-bottom: 10px;
}
body .wrapper .sadrzaj .desni .fieldset #male {
  margin-bottom: 10px;
}
body .wrapper .sadrzaj .desni .fieldset #eks {
  margin-bottom: 10px;
}
body .wrapper .sadrzaj .desni .fieldset #checkbox {
  margin-bottom: 15px;
}
body .wrapper .sadrzaj .desni .fieldset .dugme {
  margin-left: 65px;
  background-color: #b3cedd;
}
body .wrapper .sadrzaj .krataktekst {
  width: 750px;
  height: 175px;
  text-align: left;
  float: left;
  margin-top: 25px;
  margin-left: 20px;
}
body .wrapper .sadrzaj .galerija {
  width: 840px;
  height: 230px;
  float: left;
  margin-left: 20px;
  margin-top: 40px;
  border: 2px solid black;
}
body .wrapper .sadrzaj .galerija .gslika1 {
  width: 32.82%;
  height: 100%;
  float: left;
  border-right: 2px solid black;
}
body .wrapper .sadrzaj .galerija .gslika1 a .malaslika {
  padding: 1px;
}
body .wrapper .sadrzaj .galerija .gslika2 {
  width: 33.35%;
  height: 100%;
  float: left;
  border-right: 2px solid black;
}
body .wrapper .sadrzaj .galerija .gslika3 {
  width: 33.33%;
  height: 100%;
  float: left;
}
body .wrapper .sadrzaj .prvacelina {
  width: 50%;
  height: 100%;
  background-color: #9aaebb;
  border-radius: 10px;
  float: left;
}
body .wrapper .sadrzaj .prvacelina .mapa {
  float: left;
  margin-left: 13px;
  margin-top: 30px;
  border-radius: 10px;
}
body .wrapper .sadrzaj .drugacelina {
  width: 50%;
  height: 100%;
  background-color: #204d76;
  border-radius: 10px;
  float: right;
}
body .wrapper .sadrzaj .drugacelina .forma {
  float: left;
  margin-left: 150px;
  margin-top: 30px;
  width: 50%;
  height: 300px;
}
body .wrapper .footer {
  background-color: #3287af;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: -10px;
}
body .wrapper .footer .foottext {
  margin-left: 175px;
  padding-top: 30px;
  font-size: 17px;
}
